@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="/images/logo.PNG" alt="HR_logo">
    <p>Rene Treier | Kalle Pilli | Robert Pärnpuu</p>
    <p>2021</p>

</div>
