@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ISA 3 iseseisev projekt</h1>
    <p>Rene Treier</p>
    <p>Kalle Pilli</p>
    <p>Robert Pärnpuu</p>
    <p>Sügis 2021</p>
</div>
