@page
@model PageModels.CalendarModel
@{
    Layout = "_Layout";
}

<head>
    <meta charset='utf-8' />
    <link href='lib/fullcalendar/main.css' rel='stylesheet' />
    <script src='lib/fullcalendar/main.js'></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                height: "80vh",
                firstDay: 1,
                events: @Html.Raw(Json.Serialize(Model.items)),
                eventTimeFormat: { 
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12:false
                }
            });
            calendar.render();
        });

    </script>
</head>
<body>
<div id='calendar'></div>
</body>
