@page
@model Soft.Pages.Contact.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ContactData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*@Html.Editor(model => model.item.email)*@
            <div class="form-group">
                <label asp-for="ContactData.email" class="control-label"></label>
                <input asp-for="ContactData.email" class="form-control" />
                <span asp-validation-for="ContactData.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactData.phoneNumber" class="control-label"></label>
                <input asp-for="ContactData.phoneNumber" class="form-control" />
                <span asp-validation-for="ContactData.phoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactData.addressId" class="control-label"></label>
                <input asp-for="ContactData.addressId" class="form-control" />
                <span asp-validation-for="ContactData.addressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
