@page
@using Core.Extensions
@model PageModels.ScheduleModel

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            @Html.Editor(model => model.shiftAssignment.dateChoice)
            
            <a asp-page="./ScheduleTEST" asp-route-handler="ScheduleTEST">               
                <input type="submit" value="Choose date" class="btn btn-dark" />
            </a>
            @*<div>
        <a asp-page="ScheduleTEST" asp-route-handler="ScheduleTEST">Choose date</a>
    </div>*@
        </form>
    </div>
</div>