@page
@using Core.Extensions
@model PageModels.OccupationModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@Html.Show(model => model.item.name)

<div>
    <a asp-page="./Edit" asp-route-handler="Edit" asp-route-id="@Model.item.id">Edit</a> |
    <a asp-page="./Index" asp-route-handler="Index">Back to List</a>
</div>
